/*----- COLONE DES TABLEAUX -----*/
td:first-child{
    width: 9%;
}

td:first-child+td{
    width: 25%;
    white-space: pre;
    text-align:left;
    padding-left: 10px;
    padding-right: 10px;
}

td:first-child+td+td {
    padding-left: 10px;
    padding-right: 10px;
} 
