body {
    background-color: #232323;
    color: white;
    width: 1024px;
    margin: auto;
    font-family: sans-serif;
    line-height: 1.3;   
}

a {
    color: #4dd7fa;
}



/* ------------ Main ------------ */

main {
    margin-right: 40px;
}

/* ------------ Titre Contact ------------ */

h1 {
    background-color: #ffd245;
    text-align: center;
    color: #232323;
    height: 60px;
    padding-top: 20px;
    border-radius: 6px;
}


/* ------------ Logos ------------ */

.logos {
    margin-top: 10px;
    width: 64px;    
}

.logos:hover {
    mix-blend-mode: luminosity;
}

/* ------------ flexBox ------------ */

.flexBox {
    display: flex;
}



/*----- HEADER -----*/
header {
    padding: 10px;
    border-bottom: 4px solid #4dd7fa;
    margin-bottom: 20px;
}

/*----- LOGO -----*/
header img {
    width: 103px;
}

/*----- NAVIAGATEUR -----*/
header nav {
    display: inline-block;
    float: right;
    font-size: 18px;
    margin-top: 20px;
}

header nav a {
    text-decoration: none;
    color: #ffd245;
    margin: 10px;
}

#selected {
    border-bottom: 2px solid #ffa834;
}

header nav a:hover {
    border-bottom: 1px solid #ffa834;
}


/*----- FOOTER -----*/
footer {
    text-align: center;
    border-top: 4px solid #4dd7fa;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 20px;
}


/*----- COPYRIGHT -----*/
footer p {
    display: inline-block;
}

footer p img {
    height: 14px;
    position: relative;
    top: 2px; 
}

/*----- RESEAUX -----*/

footer nav a{
    display: inline-block;
    width: 20px;
}

#youtube{
    width: 25px;
}

footer nav {
    text-align: left;
    display: inline-block;
    margin-left: 60px;
    width: 210px;
}

footer nav img {
    height: 16px;
    padding-bottom: 2px;
    position: relative;
    top: 7px; 
    margin: 2px;
}

#discord{
    height: 18px;
    padding-bottom: 0px;
}

footer nav img:hover {
    height: 20px;
    margin: 0px;
}

#discord:hover {
    height: 22px;
}